WINSTON_ALTMOUNT_BASE_URL=http://altmount:8787
WINSTON_ALTMOUNT_API_KEY=
WINSTON_PLEX_BASE_URL=http://plex:32400
WINSTON_PLEX_TOKEN=
WINSTON_SOURCE_ROOT=/data/nzb
WINSTON_SLEEP_BETWEEN_IMPORTS=3s
WINSTON_DEFAULT_MODE=preserve
WINSTON_MOVIES_TEMPLATE=Peliculas/{quality}/{alpha}/{title} ({year})
WINSTON_SERIES_TEMPLATE=Series/{alpha}/{series}/Temporada {season}/{series} - {episode}
