WINSTON_HTTP_LISTEN_ADDR=:8091
WINSTON_SOURCE_ROOT=/data/nzb
WINSTON_ALTMOUNT_BASE_URL=http://altmount:8080
WINSTON_ALTMOUNT_API_KEY=
WINSTON_PLEX_BASE_URL=http://plex:32400
WINSTON_PLEX_TOKEN=
WINSTON_PLEX_PATH_FROM=/home
WINSTON_PLEX_PATH_TO=/media/biblioteca
WINSTON_DEFAULT_MODE=preserve
WINSTON_SLEEP_BETWEEN_IMPORTS=3s
WINSTON_AUTOIMPORT_MEDIUM=true
WINSTON_MOVIES_TEMPLATE=Peliculas/{quality}/{alpha}/{title} ({year})
WINSTON_SERIES_TEMPLATE=Series/{alpha}/{series}/Temporada {season}/{series} - {episode}
WINSTON_FILEBOT_FORMAT_MOVIE=Peliculas/{plex}
WINSTON_FILEBOT_FORMAT_SERIES=Series/{plex}
WINSTON_FILEBOT_DB=TheMovieDB
FILEBOT_HOME=/config/filebot
